html,
body,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: hsl(240, 19%, 19%);
    color: hsl(49, 100%, 56%);
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 2.25rem;
}

.heading h1, .heading span{
    font-size: 2.5rem;
}

.heading h1{
    color: hsl(29, 100%, 56%);
}

.heading span{
    color: hsl(49, 100%, 56%);
}

.heading p{
    font-size: 1.3rem;
    color: hsl(49, 100%, 56%);
}

#survey-form{
    max-width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #03030340;
    box-shadow: -1px -1px 1px hsl(240, 19%, 25%);
}

#survey-form section{
    display: flex;
    flex-direction: column;
}

#survey-form p, label{
    color: hsl(29, 100%, 56%);
    font-size: 1.10rem;
}

#survey-form div label{
    color: hsl(49, 100%, 56%);
}

input,
textarea,
select{
    background: hsl(240, 19%, 19%);
    color: hsl(49, 100%, 56%);
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 1px 1px 1px hsl(240, 19%, 25%);
}

input:focus,textarea:focus{
    outline: none;
}

input,
select,
#submit{
    font-size: 1.5rem;
}

#submit{
    background: hsl(49, 100%, 56%);
    color: hsl(240, 19%, 22%);
    padding: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: -2px -2px 1px hsl(49, 100%, 76%);
}

#submit:hover{
    background: hsl(49, 100%, 60%);
}

#submit:focus{
    background: hsl(49, 100%, 45%);
    box-shadow: 2px 2px 1px hsl(49, 100%, 55%);
}